<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="AllTestCases">
        <classes>
            <class name="testCases.LoginTC"/>
            <class name="testCases.ValidateOnErrorTC"></class>
            <class name="testCases.PostAdTC"></class>
            <class name="testCases.ValidateOnMediaPageTC"></class>
        </classes>
    </test>
</suite>
